{% extends "page.html" %}
{% import 'macros/taxonomy.html' as macros_taxonomy -%}
{% block seo %}
  {% set mobilecompat_name_in_url = term.permalink | trim_end_matches(pat="/") | split(pat="/") | last %}
  {% set section = get_section(path="mobile-compatibility/_index.md") %}

  {% if section.extra.mobilecompat_pages[mobilecompat_name_in_url] %}
    {% set_global mobilecompat_page = get_page(path=section.extra.mobilecompat_pages[mobilecompat_name_in_url])%}
  {% endif %}
  {% if mobilecompat_page and mobilecompat_page.title %}
    {% set_global title = mobilecompat_page.title %}
  {% else %}
    {% set_global title = term.name %}
  {% endif %}

  {% set title_addition = "" %}
    {% if config.extra.title_separator %}
      {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
    {% else %}
      {% set title_separator = " | " %}
    {% endif %}

  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

  {% if mobilecompat_page and mobilecompat_page.description %}
    {% set description = mobilecompat_page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <article class="taxonomies">
      <h1 class="text-center">{{ title | replace(from="cli",to="CLI") }}</h1>
      {% if mobilecompat_page and mobilecompat_page.content %}
      <div class="text-center">{{ mobilecompat_page.content | safe }}</div>
      {% endif %}
      <div class="card-list">
        {{ macros_taxonomy::taxonomy_single() }}
      </div>
      {{ macros_taxonomy::taxonomy_backlink() }}
    </article>
  </div>
</div>
{% endblock content %}


