{% extends "section.html" %}
{% import 'macros/card.html' as macros_listing -%}
{% import "macros/taxonomy.html" as macros_taxonomy %}

{% block extra_head %}
<link href="{{ get_url(path="css/datatable.css") | safe }}" rel="stylesheet">
{% endblock extra_head %}


{% block body %}
{% set page_class = "app-finder" %}
{% endblock body %}

{% block header %}
{# This value is matched by the config.extra.menu.main~section #}
{% set current_section = "find" %}
{{ macros_header::header(current_section=current_section)}}

{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
    <div class="content">
      {% set apps_section = get_section(path="apps/_index.md") %}
      {% set apps = apps_section.pages | sort(attribute="date") | reverse %}
        <div id="searchBuilder"></div>
        <table id="insights" cellspacing="0" width="100%">
	    <thead>
            <tr>
                <th>Name</th>
                <th>Summary</th>
                <th>Repository</th>
                <th>Mobile Fit</th>
                <th>Status</th>
                <th>World</th>
                <th>Frameworks</th>
                <th>Categories</th>
    	        <th>Services</th>
                <th>Internet Use</th>
                <th>Distributions</th>
                <th>Touchscreen support *</th>
                <th>Mobile support *</th>
                <th>First commit date</th>
                <th>Latest commit date</th>
                <th>Date listed</th>
                <th>Listing updated</th>
            </tr>
        </thead>
        <tbody>
	    {% for app in apps | sort(attribute="title") %}
            <tr>
                <td><a href="{{ app.permalink }}">{{ app.title }}</a></td>
                <td style="text-align: left;">{{ app.description }}</a></td>
                <td><a href="{{ app.extra.repository }}">Repo</a></td>
                <td>{{ app.taxonomies.mobile_compatibility | join(sep=", ") }}</td>
                <td>{{ app.taxonomies.status | join(sep=", ") }}</td>
                <td>{% for framework in app.taxonomies.frameworks %}{% if framework == "GTK3" %}GNOME{% elif framework == "GTK4" %}GNOME{% elif framework == "Kirigami" %}KDE{% endif %}{% endfor %}</td>
                <td>{{ app.taxonomies.frameworks | join(sep=", ") }}</td>
                <td class="table__category">{% for category in app.taxonomies.categories %}<span>{{ category }}</span>{% endfor %}</td>
                <td>{{ app.taxonomies.services | join(sep=", ") }}</td>
                <td>{% if app.taxonomies.requires_internet %}{{ app.taxonomies.requires_internet | join(sep=", ") }}{% else %}not specified{% endif %}</td>
                <td>{{ macros_taxonomy::format_taxonomy_packaged_in_list(taxonomy=app.taxonomies.packaged_in) }}</td>
                <td>{{ app.extra.all_features_touch }}</td>
                <td>{{ app.extra.intended_for_mobile }}</td>
                <td>{% if app.extra.repo_created_date %}{{ app.extra.repo_created_date }}{% else %}not specified{% endif %}</td>
                <td>{% if app.extra.latest_repo_commit %}{{ app.extra.latest_repo_commit }}{% else %}not specified{% endif %}</td>
                <td>{{ app.date }}</td>
                <td>{{ app.updated }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><sup>*</sup> Accoding to AppStream Metadata.</p>
  </div>
</div>
<script src="{{ get_url(path="js/datatables.min.js") | safe }}"></script>
<script src="{{ get_url(path="js/moment.min.js") | safe }}"></script>
<script src="{{ get_url(path="js/table_apps.js") | safe }}"></script>
{% endblock content %}
