{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}

  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

  {% set description = config.description %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
  {% endblock seo %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h1 class="mt-0">{{ section.title | default(value="Modern Documentation Theme") }}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead">{{ section.extra.lead | default(value="Please start setting config.toml and adding your content.") | safe }}</p>
          <a class="button btn btn-primary btn-lg px-4 mb-2" href="{{ section.extra.url | default(value="/") | safe }}" role="button">{{ section.extra.url_button | default(value="Get started") }}</a>
           <a class="button btn btn-primary btn-lg px-4 mb-2" href="{{ section.extra.url_games | default(value="/") | safe }}" role="button">{{ section.extra.url_button_games | default(value="Get started") }}</a>
          <p class="meta">{{ section.extra.repo_license | safe | default(value="MIT") | safe }}. State: <a href="{{ section.extra.repo_url | default(value="https://github.com/aaranxu/adidoks") | safe }}">{{ section.extra.repo_version | default(value="0.1.0") }}</a></p>
        </div>
      </div>
    </section>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="content row justify-content-center text-center">
			<div class="text-center">
				<h2>Find apps or games by ...</h2>
			</div>
			<div class="lpa_taxonomies_index">
				<details><summary>
	<ul>
      	{% for taxonomy in config.taxonomies %}
        	{% if taxonomy.name == "categories" %}
        	<li>
          	  <a href="../categories" class="categories_filter">Category</a>
        	</li>
        	{% elif taxonomy.name == "services" %}
        	<li>
         	  <a href="../services" class="services_filter">Service</a>
        	</li>
        	{% elif taxonomy.name == "packaged_in" %}
        	<li>
          	<a href="../packaged-in" class="distributions_filter">Distribution</a>
        	</li>
        	{% elif taxonomy.name == "frameworks" %}
        	<li>
          	<a href="../frameworks" class="frameworks_filter">Framework</a>
        	</li>
        	{% elif taxonomy.name == "mobile_compatibility" %}
        	<li>
       		  <a href="../mobile-compatibility" class="mobile_compat_filter">Mobile fit</a>
        	</li>
        	{% endif %}
      	{% endfor %}
	</ul></summary>
        <ul>
        {% for taxonomy in config.taxonomies %}
                {% if taxonomy.name == "freedesktop_categories" %}
                <li>
		  <a href="../freedesktop-categories" class="categories_filter">FreeDesktop Categories</a>
                </li>
                {% elif taxonomy.name == "backends" %}
                <li>
                  <a href="../backends" class="services_filter">Backend</a>
                </li>
                {% elif taxonomy.name == "project_licenses" %}
                <li>
                <a href="../project-licenses" class="distributions_filter">Project license</a>
                </li>
                {% elif taxonomy.name == "programming_languages" %}
                <li>
                <a href="../programming-languages" class="frameworks_filter">Programming language</a>
                </li>
                {% elif taxonomy.name == "build_systems" %}
                <li>
                <a href="../build-systems" class="frameworks_filter">Build system</a>
                </li>
                {% elif taxonomy.name == "status" %}
                <li>
                  <a href="../status" class="mobile_compat_filter">Status</a>
                </li>
                {% elif taxonomy.name == "requires_internet" %}
                <li>
                  <a href="../requires-internet" class="mobile_compat_filter">Necessary Connectivity</a>
                </li>
                {% elif taxonomy.name == "app_author" %}
                <li>
                  <a href="../app-author" class="mobile_compat_filter">App Author</a>
                </li>
                {% endif %}
        {% endfor %}
        </ul>
       </details>
       <br>
       <p>or use <strong>Advanced Search</strong> to find <a href="../find/apps">Apps or Games</a>!</p>
     </div>
   </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="text-center">Latest Content</h3>
    <div class="content row justify-content-center">
	    <div class="col-lg-7">
            <h4 class="text-center">Apps</h4>
            {% set apps_section = get_section(path="apps/_index.md") %}
            {% set new_apps = apps_section.pages | sort(attribute="date") | reverse %}
            <ul>
                {% for post in new_apps | slice(end=5) %}
                <li><a href="{{ post.permalink }}" title="added on {{post.date}}">{{ post.title }}</a> | {{ post.description }}</li>
                {% endfor %}
            </ul>
        </div>
	    <div class="col-lg-7">
            <h4 class="text-center">Blog Posts</h4>
            {% set blog_section = get_section(path="blog/_index.md") %}
            {% set new_blogs = blog_section.pages | sort(attribute="date") | reverse %}
            <ul>
                {% for post in new_blogs | slice(end=5) %}
                <li><a href="{{ post.permalink }}" title="{{ post.title }}, published on {{ post.date |  date(format="%Y-%m-%d")}}">{{ post.title | truncate(length=40) }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</section>
<section class="section section-sm">
  <div class="container">
    <div class="content row justify-content-center text-center">
      {% if section.extra.list %}
        {% for val in section.extra.list %}
        <div class="col-lg-5">
          <h2 class="h4">{{ val.title }}</h2>
          <p>{{ val.content | safe }}</p>
        </div>
        {% endfor %}
      {% else %}
        <div class="col-lg-5">
          <h2 class="h4">Security aware</h2>
          <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Fast by default ⚡️</h2>
          <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=7731347bb8ce999eff7428a8e763b637">Google Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">SEO-ready</h2>
          <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings to your liking.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Full text search</h2>
          <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Page layouts</h2>
          <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Dark mode</h2>
          <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9"></div>
  </div>
</section>
{% endblock content %}
