{% extends "base.html" %}

{% block seo %}
  {% set title_addition = "" %}
  {% if config.extra.title_separator %}
    {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
    {% set title_separator = " | " %}
  {% endif %}

  {% set_global section = get_section(path="freedesktop-categories/_index.md") %}
  {% if section.title and config.title %}
    {% set title = section.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif section.title  %}
    {% set title = section.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}

  {% if page.description %}
    {% set description = section.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block body %}
  {% if section.extra.class %}
    {% set page_class = section.extra.class %}
  {% else %}
    {% set page_class = "contributors list" %}
  {% endif %}
{% endblock body %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article class="taxonomies">
          <h1 class="text-center">Freedesktop Categories</h1>
          <div class="text-center">Apps and Games listed by their FreeDesktop.org categories, according to the official specification of Desktop Menu categories:
              <ul>
                  <li><a href="https://specifications.freedesktop.org/menu-spec/latest/category-registry.html#main-category-registry">Registered Categories | Desktop Menu Specification</a></li>
                  <li><a href="](https://specifications.freedesktop.org/menu-spec/latest/additional-category-registry.html)">Additional Categories | Desktop Menu Specification</a>.</li>
              </ul>
            </div>
           <div class="card-list taxonomy-cards">
            {% for term in terms %}
                <a class="taxonomy-link text-body" href="{{ term.permalink | safe }}">{{ term.name }}  <span class="count">({{ term.pages | length }})</span></a>
            {% endfor %}
			    </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


